# アプリケーション
export APP_NAME='go-layered-architecture-sample'
export APP_VERSION='1.1'
export APP_Environment='local'

# HTTP
export HTTP_PORT=8080

# データベース
export DATABASE_PRIMARY_HOST='localhost'
export DATABASE_PRIMARY_PORT='3306'
export DATABASE_REPLICA_HOST='localhost'
export DATABASE_REPLICA_PORT='3306'
export DATABASE_NAME='go-layered-architecture-sample'
export DATABASE_USER='go-layered-architecture-sample'
export DATABASE_PASSWORD='P@ssw0rd'